@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    font-family: 'Comforter', cursive;
    font-size: 1.6em;
    font-weight: 900;
}

@media (max-width:500px) {
    
    .navbar{
        padding: 5px !important;
    }
    .nav-link{
        margin: 0px!important;
    }
    .nav-item-esp{
        margin: 5px!important;
        display: flex !important;
       
    }
   
    .certificados{
        padding: 10px !important;
    }
    #carouselExampleCaptions{
     
        width: 100% !important;
    }
    .sobre .row{
        text-align: center !important;
    }
    .sobre #img-icon{
        width: 50% !important;
    }
    .skills .btn{
        
        width: 100% !important;
    }
    .skills{
       padding: 20px !important;
    }
    .projetos{
        padding:  20px!important;
        margin: 0;
    }
    .curriculo .btn{   
        width: 100% !important;
    }
    .contato{
        padding: 20px !important;
        margin: 0;
    }
    .contato .card{
       
        width: 100% !important;
    }
    .contato .bt{
        width: 100% !important;
    }

    .btn-gt{
        width: 100% !important;
    }
}
